@font-face {
  font-family: "Stack Sans Notch";
  src: url("fonts/Stack_Sans_Notch/StackSansNotch-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight is typically around 300 */
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight is typically around 500 */
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold is typically around 600 */
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("fonts/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* -- Begin Styles -- */

body {
  font-family: "Chakra Petch";
  font-weight: 500;
}

h1 {
  font-family: "Stack Sans Notch";
  font-weight: 500;
  z-index: 10;
  color: var(--text);
}
h2,
h3,
h4,
h5 {
  font-family: "Chakra Petch";
  font-weight: 600;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.75rem;
}
