/* TODO: Vendor this */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Stack+Sans+Notch:wght@200..700&display=swap");

body {
  font-family: "Chakra Petch";
  font-weight: 500;
}

h1 {
  font-family: "Stack Sans Notch";
  font-weight: 500;
  z-index: 10;
  color: var(--text);
}
h2,
h3,
h4,
h5 {
  font-family: "Chakra Petch";
  font-weight: 600;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
